    <div>
        <h1 class="judul" style="text-align: center;">Open Layer Cimahi</h1>
        <p>Nama : Daffa Audya Pramana</p>
        <p>NPM : 1214015</p>
        <p>Kelas : D4TI 3A</p>
        <div id="map" style="height: 500px;"></div>

        <div id="popup" class="ol-popup">
            <a href="#" id="popup-closer" class="ol-popup-closer"></a>
            <div id="popup-content"></div>
        </div>
        
        <div id='map'></div>

	<input type="hidden" id="idmarker" name="idmarker" value="">

        <div class="point-table">
            <h1>Data-Data (Polyline, Point, Polygon) </h1>
            <div class="container mx-auto my-4 p-4">
                <table id="pointTable" class="border-collapse border" border="1">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border p-2">Nama</th>
                            <th class="border p-2">Koordinat</th>
                            <th class="border p-2">Type</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        
            <div class="container mx-auto my-4 p-4">
                <div class="bg-blue-500 text-white p-4 mb-4">
                    <h1 class="text-2xl">Data Polygon</h1>
                </div>
                <table id="polygonTable" class="border-collapse border" border="1">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border p-2">Nama</th>
                            <th class="border p-2">Koordinat</th>
                            <th class="border p-2">Type</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        
            <div class="container mx-auto my-4 p-4">
                <div class="bg-blue-500 text-white p-4 mb-4">
                    <h1 class="text-2xl">Data Polyline</h1>
                </div>
                <table id="polylineTable" class="border-collapse border" border="1">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border p-2">Nama</th>
                            <th class="border p-2">Koordinat</th>
                            <th class="border p-2">Type</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
    </div>